{% extends "layout.html" %}

{% block title %}
    Word counter: history
{% endblock %}

{% block main %}


    <a href="/history">History</a> / Remove table
    <hr>

    <table class="table table-bordered">
        <thead class="table-primary">
            <tr>
                <th>№</th>
                <th>Name</th>

                <th>Created date</th>
                <th>Different Words </th>
                <th>Words Total</th>
                <th>Delete</th>


            </tr>
        </thead>
            <tbody>

                {% set count = namespace(value=1) %}
                {% for i in history %}

                <tr>
                    <form action="/history_remove_logic" method="POST">

                        <td>{{ count.value }}</td>



                        <td>{{ i["name_of_query"] }}</td>
                        <input type = "hidden" name = "name_of_query" value = "{{ i["name_of_query"] }}" />





                        <td>{{ i["time"] }}</td>
                        <input type = "hidden" name = "time" value = "{{ i["time"] }}" />

                        <td>{{ i["COUNT(word)"] }}</td>
                        <td>{{ i["SUM(counter)"] }}</td>
                        <td><button type="submit" class="btn btn-danger">Delete</button></td>

                    </form>

                {% set count.value = count.value + 1 %}

                </tr>

                {% endfor %}


            </tbody>
    </table>





{% endblock %}