{% extends "layout.html" %}

{% block title %}
    Word counter: index
{% endblock %}

{% block main %}

<h1>How language "realy" works</h1>
<h2>Some words are used <b>MUCH</b> more than others</h2>
<hr>
<div class="circle1">

    <img src="/static/circle1.jpg" alt="circle1.jpg"><br>

    <h5>These top 10% words are a real reflection of how the locals think and speak</h5>

</div>
<hr>
<h5>Weighted model (approximately)</h5>
<div class="circle2">
    <img src="/static/circle2.jpg" alt="circle2.jpg">
    <br>
    <h5>And these top 10% of words actually make up more than half of the total use of any language</h5>

</div>
<hr>
<h5> People are all so diffrent, so my 10% will be different from your 10%</h5>
And the idea

{% endblock %}
